<html>

<head>
    <title>Departamentos Nina</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
    <div class="card-panel teal lighten-1" style="margin: 0px;">
        <h4 style="text-align: center; color: lavenderblush;">Bienvenido a departamentos NINA</h4>
    </div>
    
    <div class="navbar-fixed">
        <nav style="background-color: teal;">
            <div class="nav-wrapper">
                <ul class="left hide-on-med-and-down">
                    <li><a href="sass.html">Iniciar Sesion</a></li>
                    <li><a href="{% url 'departamentos' %}">Departamentos</a></li>
                    <li><a href="sass.html">Contactos</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container">
        <div class="card-panel teal lighten-5" style="margin-top: 0px;">
            <h5 style="text-align: center;">¿Quiénes somos?</h5>
            <p style="text-align: center; margin-right: 60px;">Somos una pareja que se dedica al alquiler temporal de
                departamentos, contamos con gran variedad para que el cliente elija el que mas se encuentre a su gusto
            </p>
        </div>
    </div>
</body>

</html>